:local .contact{
    z-index: 999;
    height: 50px;
    background-color: #fbf9fe;
}
:local .per_info{
    width: 50%;
    line-height: 50px;
    float: left;
    background-color:#fbf9fe;
}
:local .per_logo{
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 50%;
}
:local  .per_name{
    font-size: 12px;
    color: #999999;
    margin-left: 10px;
}
:local .tab{
    width: 25%;
    float: right;
    height: 50px;
    text-align: center;
    color: #ffffff;
}
:local  .chat_tab{
    composes:tab;
    background-color: #febe00;
}
:local  .contact_tab{
    composes:tab;
    background-color: #f60;
}
:local  .tab.active{
    color:orange;
}
:local  .icon_top{
    padding-top: 5px;
    line-height: 20px;
}
:local .tab_font{
    font-size: 12px;
}
