/*common start*/
.content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.btn-bg-disabled{
    background-color: #ccc;
}
.b-r-none{
    border-radius: 0;
}
.bg-gray{
    background-color: #f8f8f8;
}
.text-center{
    text-align: center;
}
.text-sm{
    font-size: 12px;
}
.text-md{
    font-size: 14px;
}
.text-white{
    color: #FFFFFF;
}
.text-orange{
    color:orange;
}
.b-50{
    bottom: 50px;
}
.bg-default{
    background-color: #fbf9fe;
}
li{
    list-style-type: none;
}
.link{
    color: inherit;
    text-decoration: none;
}
.link:link{
    color: inherit;
    text-decoration: none;
}
.link:visited{
    color: inherit;
    text-decoration: none;
}
.link:hover{
    color: inherit;
    text-decoration: none;
}
.link:active{
    color: inherit;
    text-decoration: none;
}
.bd-b{
    border-bottom: 1px solid #E5E5E5;
}
.p-absolute{
    position: absolute;
}
.p-relative{
    position: relative;
}
.fixed-bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.fa-1-5 {
    font-size: 1.5em
}
.fa-2 {
    font-size: 2em
}
.fa-3 {
    font-size: 4em
}

.fa-4 {
    font-size: 7em
}

.fa-5 {
    font-size: 12em
}
.fa-6 {
    font-size: 20em
}
.m-t-0{
    margin-top: 0;
}
.m-l-5{
    margin-left: 5px;
}
.m-l-10{
    margin-left: 10px;
}
.m-r-10{
    margin-right: 10px;
}
.p-b-50{
    padding-bottom: 50px;
}
.p-10{
    padding: 10px;
}
.p-l-10{
    padding-left: 10px;
}
.p-r-10{
    padding-right: 10px;
}
.text-gray{
    color: #999999;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.clearfix{
    clear: both;
}
.w-p-80{
    width: 80%;
}
.w-p-20{
    width: 20%;
}
.inline{
    display: inline;
}
.hide{
    display: none;
}
.show{
    display: block;
}
/*common end*/
